<app-breadcrumb [breadcrumbList]="breadcrumbData"  ></app-breadcrumb>

<div class="w3-light-gray w3-block w3-padding filter-section">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6">
      <label class="w3-text-dark-gray" >{{ 'search with name or national id' | trans }}</label>
      <input type="text"  class="app-select"  ngModel >
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6">
      <label class="w3-text-dark-gray" >{{ "search with level" | trans }}</label>
      <select class="app-select" [(ngModel)]="filter.level_id" >
        <option value="">{{ "select all" | trans }}</option>
        <option *ngFor="let item of levels" value="{{ item.id }}" >{{ item.name }}</option>
      </select>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6">
      <label class="w3-text-dark-gray" >{{ "search with department" | trans }}</label>
      <select class="app-select" [(ngModel)]="filter.department_id"  >
        <option value="">{{ "select all" | trans }}</option>
        <ng-container *ngFor="let item of departments" >
          <option *ngIf="item.level_id == filter.level_id"  value="{{ item.id }}" >{{ item.name }}</option>
        </ng-container>
      </select>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6">
      <label class="w3-text-dark-gray" >{{ "search with type" | trans }}</label>
      <select class="app-select" >
        <option value="">{{ "select all" | trans }}</option>
        <option *ngFor="let item of types" value="{{ item }}" >{{ item | trans }}</option>
      </select>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6">
      <label class="w3-text-dark-gray" >{{ "search with faculty" | trans }}</label>
      <select class="app-select" >
        <option value="">{{ "faculty" | trans }}</option>
      </select>
    </div>
  </div>
  <br>
</div>

<br>

<div class="w3-row">

  <div class="col-lg-3 col-md-3 w3-padding">
    <div class="w3-light-gray w3-round-large w3-padding">

      <button mat-raised-button class="w3-block w3-indigo w3-row app-button" (click)="create()" >
        <b class="w3-right" >{{ "add student" | trans }}</b>
        <i class="fa fa-plus-circle w3-left" style="padding-top: 10px;" ></i>
      </button>

      <button mat-raised-button class="w3-block w3-green w3-row app-button" (click)="import()" >
        <b class="w3-right" >{{ "import excel" | trans }}</b>
        <i class="fa fa-file-excel-o w3-left" style="padding-top: 10px;"></i>
      </button>

      <button mat-raised-button class="w3-block w3-teal w3-row app-button" (click)="export()"  >
        <b class="w3-right" >{{ "export excel" | trans }}</b>
        <i class="fa fa-file-excel-o w3-left" style="padding-top: 10px;"></i>
      </button>

      <button mat-raised-button class="w3-block w3-red w3-row app-button" >
        <b class="w3-right" >{{ "show archive" | trans }}</b>
        <i class="fa fa-archive w3-left" style="padding-top: 10px;"></i>
      </button>

    </div>
  </div>

  <div class="col-lg-9 col-md-9">
    <div class="row w3-padding">

      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="media material-shadow w3-white w3-round w3-display-container">
          <div class="media-left" style="padding: 5px">
            <a href="#" >
              <div class="w3-round" style="width: 100px;height: 100px;background-image: url(/assets/img/avatar.png);background-size: cover" ></div>
            </a>
          </div>
          <div class="media-body w3-padding">
            <h5 class="media-heading w3- ">student name</h5>
            <table class="w3-tiny" >
              <tr>
                <th>{{ "level" | trans }}</th>
                <td>first</td>
              </tr>
              <tr>
                <th>{{ "division" | trans }}</th>
                <td>first</td>
              </tr>
            </table>
            <div>
              <button class="btn fa fa-edit w3-orange material-shadow " style="padding: 5px!important;margin: 5px" (click)="edit({})" ></button>
              <button class="btn fa fa-desktop w3-green material-shadow hidden" style="padding: 5px!important;margin: 5px" ></button>
              <button class="btn fa fa-archive w3-red material-shadow" style="padding: 5px!important;margin: 5px" (click)="archive()" ></button>
            </div>
          </div>

          <div class="w3-display-topleft w3-padding">
            <span class="label label-danger" >{{ "archive" | trans }}</span>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>



<app-student-form [title]="'add student'" ></app-student-form>

<app-student-form [title]="'edit student'" [editable]="true" [resource]="resource" ></app-student-form>

<app-import-excel [templateUrl]="importTemplateUrl" [title]="'import students from excel file'" ></app-import-excel>

<app-export-excel [title]="'export students to excel file'" [fields]="fields" ></app-export-excel>
