<div class="modal fade" id="{{ editable? 'studentEditModal' : 'studentAddModal' }}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content light-gray">
      <div class="modal-header w3-border-0" >
        <button type="button" class="close w3-text-red" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center">{{ title | trans }}</h4>
      </div>
      <div class="modal-body">
        <table class="table" >
          <tr>
            <td  colspan="2">
              <img [src]="resource.url" alt="">
              <input type="file" class="app-form" (change)="loadFile()" [(ngModel)]="resource.image" >
            </td>
          </tr>
          <tr>
            <th>{{ "name" }}</th>
            <td>
              <input type="text" class="app-form" [(ngModel)]="resource.name" >
            </td>
          </tr>
          <tr>
            <th>{{ "phone" }}</th>
            <td>
              <input type="text" class="app-form" [(ngModel)]="resource.phone" >
            </td>
          </tr>
          <tr>
            <th>{{ "email	" }}</th>
            <td>
              <input type="email" class="app-form" [(ngModel)]="resource.email	" >
            </td>
          </tr>
          <tr>
            <th>{{ "universty_email" }}</th>
            <td>
              <input type="email" class="app-form" [(ngModel)]="resource.universty_email" >
            </td>
          </tr>
          <tr>
            <th>{{ "national_id" }}</th>
            <td>
              <input type="text" class="app-form" [(ngModel)]="resource.national_id" >
            </td>
          </tr>
          <tr>
            <th>{{ "username" }}</th>
            <td>
              <input type="text" class="app-form" [(ngModel)]="resource.username" >
            </td>
          </tr>
          <tr>
            <th>{{ "password" }}</th>
            <td>
              <input type="password" class="app-form" [(ngModel)]="resource.password" >
            </td>
          </tr>
          <tr>
            <th>{{ "division" }}</th>
            <td>
              <select class="app-form" [(ngModel)]="resource.division_id">
                <option *ngFor="let division of divisions" value="{{ division.id }}" >{{ division.name }}</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>{{ "degree" }}</th>
            <td>
              <select class="app-form" [(ngModel)]="resource.degree_id">
                <option *ngFor="let degree of degrees" value="{{ degree.id }}" >{{ degree.name }}</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>{{ "special" }}</th>
            <td>
              <select class="app-form" [(ngModel)]="resource.special_id">
                <option *ngFor="let special of specials" value="{{ special.id }}" >{{ special.name }}</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>{{ "active" }}</th>
            <td>
              <mat-slide-toggle [(ngModel)]="resource.active" [checked]="resource.active">
              </mat-slide-toggle>
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer w3-center">
        <button mat-raised-button class="w3-indigo" >{{ "submit" | trans }}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
