<app-breadcrumb [breadcrumbList]="breadcrumbData"  ></app-breadcrumb>
<br>
<div class="w3-padding">
  <div class="row">
    <div class="col-md-3 w3-padding">

      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" [src]="resource.photo ? resource.photo_url : '/assets/img/application.gif'" alt="User profile picture">

          <h3 class="profile-username text-center">{{ resource.name }}</h3>


          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>{{ "student register" | trans }}</b> <a class="pull-left">{{ resource.register_student_count | number }}</a>
            </li>
            <li class="list-group-item">
              <b>{{ "doctor register" | trans }}</b> <a class="pull-left">{{ resource.register_doctor_count | number }}</a>
            </li>
            <li class="list-group-item">
              <b>{{ "departments" | trans }}</b> <a class="pull-left">{{ resource.department_count | number }}</a>
            </li>
          </ul>

          <button mat-raised-button class="btn w3-teal app-button btn-block" (click)="registerStudentFromExcel(1)" >
            <b class="w3-right" >{{"register student from excel" | trans}}</b>
            <b class="w3-left fa fa-file-excel-o" style="padding-top: 9px" ></b>
          </button>
          <br>
          <button mat-raised-button class="btn w3-dark-gray app-button btn-block" (click)="registerStudentModal()" >
            <b class="w3-right" >{{"register student manual" | trans}}</b>
            <b class="w3-left fa fa-hand-pointer-o" style="padding-top: 9px" ></b>
          </button>
          <br>
          <button mat-raised-button class="btn w3-indigo app-button btn-block" (click)="registerDoctorModal()" >
            <b class="w3-right" >{{"register doctor" | trans}}</b>
            <b class="w3-left fa fa-briefcase" style="padding-top: 9px" ></b>
          </button>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

      <!-- About Me Box -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">{{ "course info" | trans }}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <strong><i class="fa fa-book margin-r-5"></i> {{"description" | trans}}</strong>

          <p class="text-muted">
            {{ resource.description }}
          </p>

          <hr>

          <strong><i class="fa fa-clock-o margin-r-5"></i> {{"credit_hour" | trans}}</strong>

          <p class="text-muted">{{ resource.credit_hour }}</p>

          <hr>

          <strong><i class="fa fa-level-up margin-r-5"></i> {{"level" | trans}}</strong>

          <p class="text-muted">{{ resource.level? resource.level.name : '' }}</p>

          <hr>

          <strong><i class="fa fa-graduation-cap margin-r-5"></i> {{"large_degree" | trans}}</strong>

          <p class="text-muted">{{ resource.large_degree }}</p>

          <hr>

          <strong><i class="fa fa-check-square margin-r-5"></i> {{"active" | trans}}</strong>

          <p class="text-muted">{{ resource.active }}</p>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9 w3-padding">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#groups" data-toggle="tab">{{ "groups" | trans }}</a></li>
          <li><a href="#studentRegister" data-toggle="tab">{{ "student register" | trans }}</a></li>
          <li><a href="#doctorRegister" data-toggle="tab">{{ "doctor register" | trans }}</a></li>
        </ul>
        <div class="tab-content">
          <div class="active tab-pane" id="groups">
            <table class=" table-bordered" >
              <thead>
                <th>#</th>
                <th>{{ "name" | trans }}</th>
                <th class="hidden" >{{ "number" | trans }}</th>
                <th></th>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of group.data index as i" >
                  <tr  >
                    <td>{{ i + 1 }}</td>
                    <td>
                      <input type="text"  class="app-form input-sm" [(ngModel)]="item.name" >
                    </td>
                    <td class="hidden" >
                      <input type="text"  class="app-form input-sm" [(ngModel)]="item.number" >
                    </td>
                    <td>
                    <div style="width: 90px" >
                      <button class="btn btn-success"
                      [disabled]="group.isSubmitted"
                      (click)="group.send(getItem(item), i)" >
                      <i *ngIf="!group.isSubmitted" class="fa fa-check" ></i>
                      <i *ngIf="group.isSubmitted" class="fa fa-spin fa-spinner" ></i>
                    </button>
                      <button class="btn btn-danger"
                      *ngIf="item.can_delete || !item.id"
                      [disabled]="group.isSubmitted"
                      (click)="group.destroy(item, i)" >
                        <i *ngIf="!group.isSubmitted" class="fa fa-trash" ></i>
                        <i *ngIf="group.isSubmitted" class="fa fa-spin fa-spinner" ></i>
                      </button>
                    </div>
                    </td>
                  </tr>
                </ng-container>
                <tr>
                  <td></td>
                  <td colspan="2" >
                    <button class="fa fa-plus w3-block btn btn-default btn-flat" (click)="group.add()" ></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="studentRegister">
             <table class="table table-bordered">
               <thead>
                 <th>#</th>
                 <th>{{ "student" | trans }}</th>
                 <th>{{ "code" | trans }}</th>
                 <th>{{ "level" | trans }}</th>
                 <th>{{ "department" | trans }}</th>
                 <th>{{ "group" | trans }}</th>
               </thead>
               <tbody>
                <tr *ngFor="let item of resource.students index as i" >
                  <td>{{ i + 1 }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.code }}</td>
                  <td>{{ item.level }}</td>
                  <td>{{ item.department }}</td>
                  <td>{{ item.group_name }}</td>
                 </tr>
               </tbody>
             </table>
          </div>
          <!-- /.tab-pane -->

          <div class="tab-pane" id="doctorRegister">
            <table class="table table-bordered">
              <thead>
                <th>#</th>
                <th>{{ "doctor" | trans }}</th>
                <th>{{ "phone" | trans }}</th>
                <th>{{ "special" | trans }}</th>
                <th>{{ "department" | trans }}</th>
                <th>{{ "group" | trans }}</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of resource.doctors index as i" >
                  <td>{{ i + 1 }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.phone }}</td>
                  <td>{{ item.special }}</td>
                  <td>{{ item.division }}</td>
                  <td>{{ item.group_name }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
  </div>

</div>



<app-import-excel [title]="'register student from excel file'" [action]="action" [templateUrl]="templateUrl" [apiUrl]="'student-registers/import'" [data]="importData" ></app-import-excel>


<app-course-register-doctor [course]="resource" ></app-course-register-doctor>

<app-course-register-student [course]="resource" ></app-course-register-student>

<!--- choice category form -->
<div class="modal fade" tabindex="-1" role="dialog" id="choiceCategoryModal" >
  <div class="modal-dialog" role="document">
    <div class="modal-content light-gray">
      <div class="modal-header w3-border-0">
        <button type="button" class="close w3-text-red" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center">{{ "choice course category do you want to register in it" | trans }}</h4>
      </div>
      <div class="modal-body">
        <div class="w3-row">
          <div class="col-lg-2" *ngFor="let category of group.data" style="padding: 4px" >
            <div class="w3-round material-shadow w3-padding theme-light w3-text-white text-center" >
              <b>{{ category.name }}</b>
              <br>
              <mat-slide-toggle
              #selectedCategory
              [(ngModel)]="category.selected"
              (change)="selectCategory(category.id, selectedCategory.checked)"  >
              </mat-slide-toggle>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" style="margin: 3px" mat-raised-button data-dismiss="modal">{{ "close" | trans }}</button>
        <button type="button" mat-raised-button class="w3-indigo" style="margin: 3px" (click)="registerStudentFromExcel(2)" >{{ "next" | trans }}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
