.term-modal {
  width: 100%;
  height: 100%;
  z-index: 99999;
  position: absolute;
  background-color: #fafafa;
  background-image: url(/assets/img/term.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
